.month-name{
    display: flex;
    height: 10vh;
    font-size: 40px;
    font-family: "Montserrat ExtraBold";
    color: white;
    margin: 10px;
    padding-top:20px;
    justify-content: center;
}
.previous {
    text-align: left;
    margin-left: 2rem;
    cursor: pointer;
    color: rgb(37, 37, 37);
  }
  
.next {
    width: 10px;
    text-align: right;
    margin-right: 1rem;
    cursor: pointer;
    color: rgb(37, 37, 37);
  }
  .current{
    margin-right:30px;
    margin-left:30px;
  }

 .tooltiptext {
    visibility: hidden;
    width: auto;
    font-family: "Montserrat SemiBold";
    background-color: rgb(51, 51, 51);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    font-size: 14px;

    /* Position the tooltip */
    position: absolute;
    right: 1.5%;
    bottom: 79%;
  }
.info:hover ~ .tooltiptext{
    visibility: visible;
  }

.info{
    z-index: 0;
    position: absolute;
    width: 30px;
    font-size: 30px;
    right: 12%;
}
.modal-content:hover .info{
  z-index: -1;
}